
.profile-content-sidebar {
  min-height: 310px;
  width: 320px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.profile-content-sidebar1 {
  display: flex;
  cursor: pointer;
  &:hover{
    background: white;
    box-shadow: 0 0 1em lightgrey;
    transition-timing-function: ease-out;
  }
}

.fa-address-card-o {
  margin-top: 20px;
  margin-left: 10px;
  color: #104da1;
}

.profile-content-sidebar-edit-text {
  color: rgb(200,200,200);
  font-weight: lighter;
}

.profile-content-sidebar-details1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 70px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

.show-content-sidebar-details1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

.profile-content-sidebar2 {
  margin-top: 10px;
  background: white;
  display: flex;
  cursor: pointer;
  &:hover{
    background: white;
    box-shadow: 0 0 1em lightgrey;
    transition-timing-function: ease-out;
  }
}

.show-content-sidebar2 {
  margin-top: 10px;
  background: white;
  display: flex;
  border: 1px solid #ccd0d9;
}

.profile-content-sidebar-details2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 70px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  &:hover{
    background: white;
  }
}
.show-content-sidebar-details2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 70px;
  width: 300px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.fa-pencil {
  color: green;
  &:hover{
    cursor: pointer;
  }
}
