// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
  background-color: #4fc5d0;
  display: flex;
  position: relative;
}

.landing-body {
  width: 900px;
}

.main-top {
  display: flex;
  justify-content: center;
  height: 325px;
}

.main-bottom {
  display: flex;
  justify-content: center;
}

.main-top-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}

.main-top-right {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: flex-end;
}

.main-top-right-image {
  background-image: image-url('home-painter@2x.png');
  float: right;
  width: 295px;
  height: 290px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-top-phrase {
  display: inline-block;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bolder;
  color: white;
  margin: 20px 5px;
}

.main-top-description {
  display: inline-block;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  color: white;
  margin: 5px;
}

.main-bottom-signup-landing {
  display: flex;
}

.main-bottom-signup-landing select {
  margin: 5px;
  font-size: 17px;
}

// .footer-temp {
//   height: 0px;
//   background-color: #f3f5f9;
//   padding-top: 0px;
// }


// .selector {
//   margin: 5px;
//   background-color: white;
//   border-width: 1px;
//   display: block;
//   font-size: 17px;
//   line-height: 17px;
//   cursor: pointer;
// opacity: 0;
// }


// <div className="main-middle">
//   <div className="main-bottom">
//     <div className="main-bottom-signup-landing">
//       <div className="main-bottom-signup-landing-choices">
//         <select className="main-bottom-signup-landing-orientation">
//           <option>Straight</option>
//           <option>Gay</option>
//           <option>Bisexual</option>
//           <option>Other</option>
//         </select>
//         <select className="main-bottom-signup-landing-sex">
//           <option>Male</option>
//           <option>Female</option>
//         </select>
//         <select className="main-bottom-signup-landing-type">
//           <option>Dog</option>
//           <option>Cat</option>
//           <option>Other</option>
//         </select>
//       </div>
//       <button className="main-button-signup">Continue</button>
//     </div>
//   </div>
