
.modal-content-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 215px;
  height: 435px;
  max-height: 435px;
  // with three top right bottom
  // with four top right bottom left
  padding: 28px 48px 40px;
  font-size: 15px;
  line-height: 15px;
  box-sizing: content-box;
}

.modal-content-login-title {
  text-align: center;
  font-size: 23px;
  line-height: 36px;

  margin: 0 0 20px;

  font-family: sans-serif;
  font-weight: normal;
}

.modal-content-login-form {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  width: 100%;
}

.modal-login-form-inputs {
  display: flex;
  flex-direction: column;
  position: static;

  input {
    padding: 9px;
    padding-right: 30px;
    margin-bottom: 12px;
    background: #fff;
    color: #2a2f35;
    border-radius: 3px;
    font-size: 15px;
    line-height: 22px;
    box-shadow: none;
  }

  input::placeholder {
    color: #D9DCE1;
  }

  .exclamation1 {
    color: red;
    position: absolute;
    top: 97px;
    right: 63px;
    font-size: 19px;
  }
  .exclamation2 {
    color: red;
    position: absolute;
    top: 150px;
    right: 63px;
    font-size: 19px;
  }
}

.modal-login-form-input {
  border: 1px solid #ccd0d9;
}

.modal-login-form-input-error {
  border: 1px solid #f95133;
}

.modal-login-form-errortext {
  font-size: 14px;
  color: red;
  margin-left: 1px;
  animation: slideInDown 0.2s ease-in;
}

.modal-login-form-button {
  width: 100%;
  height: 46px;
  line-height: 46px;
  margin-top: 10px;

  background-color: #3260c7;
  white-space: nowrap;
  color: #fff;
  text-align: center;

  overflow: hidden;
  border-radius: 3px;
  border: none;
  vertical-align: top;

  cursor: pointer;

  font-size: 14px;
  font-family: sans-serif;
}

.modal-login-form-button.demo-login {
}
