
.profile-header {
  display: flex;
  height: 200px;
  align-self: flex-end;
  margin-top: 40px;
}

.profile-header-pic {
  float: left;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 10%;
  cursor: pointer;
}

.profile-content {
  background-color: white;
}
