
.profile-contain {
  background-color: rgba(243, 245, 250, 1)
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  position: relative;
  height: 150px;
  margin-top: 40px;

  max-width: 1000px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.profile-header-left {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  color: white;
  font-family: 'Lato';
  font-weight: 100;

  .profile-header-left-text {
    padding-left: 20px;
    padding-bottom: 30px;

    .profile-header-left-text-username {
      margin: 5px;
      font-size: 35px;
    }

    .profile-header-left-text-location {
      margin: 5px;
      font-size: 17px;
    }
  }

}

.profile-header-left-thumbnail {
  position: relative;
  bottom: -35px;

  &:hover {
    label {
      opacity: 1;
    }
  }

  .profile-header-left-thumbnail-pic {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    cursor: pointer;
    object-fit: cover;
  }

  .profile-header-left-thumbnail-upload {
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }

  .profile-header-left-thumbnail-upload::-webkit-scrollbar {
    display: none;
  }

  .profile-header-left-thumbnail-upload-label {
    position: absolute;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #104da1;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    border-radius: 10%;
    opacity: 0;
    top: 120px;
    left: 42px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 16px;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .profile-header-left-thumbnail-upload-label:hover {
    cursor: pointer;
    background-color: rgb(74, 114, 224);
  }
}

.profile-header-buttons{
  display: flex;
  align-items: flex-end;

  button {
    width: 150px;
    height: 45px;
    margin-bottom: 33px;
    margin-left: 10px;

    color: #9ab6f7;
    border: 1px solid #9ab6f7;
    &:hover {
      cursor: pointer;
      color: white;
      border-color: white;
    }
  }
}
