.profile-main {
  width: auto;
  height: auto;
  background-color: rgba(243, 245, 250, 1);
  display: flex;
  justify-content: center;
  // outline: thick solid #ffffff;
}

.profile-main-about {
  display: flex;
  padding-top: 60px;
  height: auto;
  width: 1000px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.profile-main-essay {
  min-width: 500px;
  max-width: 560px;
}

.profile-main-essay-cont1 {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding-bottom: 10px
}

.profile-main-essay-cont1-summary {
  font-weight: 900;
  font-size: 20px;
  margin: 10px;;
}

.profile-main-essay-cont1-summary-text {
  margin: 10px;
  font-weight: 400;
  line-height: 23px;
  padding-right: 50px;
}

// For testing purposes
.profile-main-essay-cont2 {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding-bottom: 10px;
}

.profile-main-essay-cont2-summary {
  font-weight: 900;
  font-size: 20px;
  margin: 10px;;
}

.profile-main-essay-cont2-summary-text {
  margin: 10px;
  font-weight: 400;
  line-height: 23px;
  padding-right: 50px;
}
//

// .profile-content-sidebar-button1 {
//   background: transparent;
//   width: 336px;
//   height: 100px;
//   cursor: pointer;
//   border: 0;
//   padding: 0;
//   border-radius: 3px;
//   transition: background-color 100ms linear,box-shadow 100ms linear;
//   -webkit-transition: background-color 100ms linear,box-shadow 100ms linear;
//   -moz-transition: background-color 100ms linear,box-shadow 100ms linear;
// }

// .show-content-sidebar-button1 {
//   background: transparent;
//   width: 336px;
//   height: 100px;
//   border: 0;
//   padding: 0;
//   border-radius: 3px;
// }

// .profile-content-sidebar-button1:hover {
//   background: white;
// }

// .profile-content-sidebar-button2 {
//   background: transparent;
//   width: 336px;
//   height: 100px;
//   cursor: pointer;
//   border: 0;
//   padding: 0;
//   border-radius: 3px;
//   transition: background-color 100ms linear,box-shadow 100ms linear;
//   -webkit-transition: background-color 100ms linear,box-shadow 100ms linear;
//   -moz-transition: background-color 100ms linear,box-shadow 100ms linear;
// }
// .show-content-sidebar-button2 {
//   background: transparent;
//   width: 336px;
//   height: 100px;
//   border: 0;
//   padding: 0;
//   border-radius: 3px;
// }
//
// .profile-content-sidebar-button2:hover {
//   background: white;
// }

.profile-main-questions {
  display: flex;
  margin-left: 100px;
}

//
