
.profile-questions {
  width: 1000px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


.profile-questions-container {
  display:flex;
  flex-direction: column;
}

.profile-questions {
  display:flex;
  flex-direction: column;
}

.profile-questions-match-title {
  font-size: 19px;
}
