
// * {
//   border: 1px red solid;
// }

#root {
  display: flex;
  position: absolute;
  min-width: 900px;
  max-width: auto;
  width: 100vw;
  justify-content: center;
}

.body {
  display: block;
}

.app {
  position: sticky;
}
